{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $menuID := .menuID }}
{{- $page := .page }}
{{- $navClass := .navClass }}

{{- with index site.Menus $menuID }}
  <nav id="menu-{{ $menuID }}" aria-label="{{ $menuID }}">
    <ul class="nav {{ $navClass }}">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL "class" "nav-link" }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "nav-link ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- $t := i18n $name }}
    {{- if and $t (ne $t (printf "[i18n] %s" $name)) }}
      {{- $name = $t }}
    {{- end }}
    <li class="nav-item">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
