{{ define "content" }}
  {{- $all := (where .Site.RegularPages "Type" "article").ByDate.Reverse -}}

  {{- /* Featured Articles section */ -}}
  {{- $featLimit := default 6 .Site.Params.home.featured_posts.limit -}}
  {{- if gt $featLimit 0 }}
    {{- $featTitleKey := default "Featured Articles" .Site.Params.home.featured_posts.title -}}
    {{- $featuredAll := (where (where .Site.RegularPages "Type" "article") "Params.featured" true).ByDate.Reverse -}}
    {{- $featured := first $featLimit $featuredAll -}}
    {{ with $featured }}  
      <h2 class="border-bottom">{{ i18n $featTitleKey }}</h2>
      {{- partial "article_list_album.html" . -}}
    {{ end }}
  {{- end }}

  {{- /* Recent Articles section (exclude featured items) */ -}}
  {{- $recentLimit := default 6 .Site.Params.home.recent_posts.limit -}}
  {{- if gt $recentLimit 0 }}
    {{- $recentTitleKey := default "Recent Articles" .Site.Params.home.recent_posts.title -}}
    {{- $nonFeatured := where (where $all "Params.outdated" "ne" true) "Params.featured" "ne" true -}}
    {{- $recentPages := first $recentLimit $nonFeatured -}}
    {{ with $recentPages }}
      <h2 class="border-bottom">{{ i18n $recentTitleKey }}</h2>
      {{- partial "article_list_blog.html" . -}}
    {{ end }}
  {{- end }}
{{- end }}
