{{- define "precontent" }}
  <div class="precontent container my-5">
    <div class="row pb-0 pe-lg-0 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Own Your Platform</h1>
        <p class="lead">{{ .Description }}
        </p>
        {{/*  <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>  */}}
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        {{- $img := resources.Get "img/launch-platform-square.webp" }}
        {{- with $img.Resize "540x540" }}
        <img class="rounded-lg-3" src="{{ .RelPermalink }}" alt="A rocket rising from a launch platform" width="540" fetchpriority="high">
        {{- end }}
      </div>
    </div>
  </div>
{{- end }}
{{ define "content" }}
  {{- $pages := first 6 (where .Site.Pages "Type" "article") }}
  <h2 class="border-bottom">{{ i18n "Recent Articles" }}</h2>
  {{ partial "article_list_album.html" $pages -}}
{{- end }}
